{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Ajouter Ingredient
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2">Création d'un ingrédient</h1>
        {{ form(form)}}
    </div>
{% endblock %}